body {
  
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;  
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #0ea13a, #b3aa00);
  }
  
  #app {
    max-width: 400px;
    margin: 10% auto; 
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    margin: 5px 0;
    padding: 10px;
  }
  
  .todo-item span{
    display: inline-block;
    transition: text-decoration 0.3s ease-in-out;
  }
  
  .todo-item.completed span{
    text-decoration: line-through;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #add-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0ea13a;
    color: #fff;
    border: 2px solid black;
    cursor: pointer;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal; 
  }
  
  #add-button:hover {
    background-color: #b3aa00;
    color: black;
    border: 3px solid black;
    font-weight: 900;
   }
  
  .ToDoSearchBar{
    width: 375px;
    padding: 10px;
    margin: 5px 0;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal; 
  }
  .delete-button {
    background-color: #e46060;
    color: #fff;
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal; 
  }
  
  #del-btn:hover {
    background-color: #ff0000;
    color: black;
    border: 3px solid black;
    font-weight: 600;
  }
  
